<h2>{{titulo}}</h2>

  <p>Añadir marcas:</p>
  <input type="text" [(ngModel)]="miMarca" (blur)="onBlur()" (keydown.enter)="mostrarPalabra()">
  <button (click)="getMarca()">Mostrar marca</button>
  <button (click)="addMarca()">Añadir marca</button>

  <p>{{miMarca}}</p>

  <p>Compra las zapatillas de las mejores marcas</p>
    <ul>
      <li *ngFor="let marca of marcas; let i = index">
        {{(i+1) + '.' + marca}}
        <button (click)="deleteMarca(i)">Eliminar marca</button>
      </li>

    </ul>
  <p>Modelos:</p>
    <ul>
        <li *ngFor="let botin of zapatillas">
          <span [ngStyle]="{
            'text-decoration': !botin.stock ? 'line-through' : 'none'
          }">
            {{botin.marca}} {{botin.nombre}} - <strong
            [class.altoPrecio]="botin.precio >= 100"
            [ngClass]="{
              'fondoRojo': botin.precio > 100,
              'subrayado': botin.marca == 'Nike'
            }"
            >
              {{botin.precio}} €</strong>
          </span>

            <span *ngIf="botin.precio < 100"
            [style.color]="botin.precio < 100 ? 'red' : 'transparent'"><strong> ¡¡¡EN OFERTA!!!</strong></span>
        </li>
    </ul>

    <p>El color de la mayoria de nuestros botines es:</p>
    <input type="text" [(ngModel)]="color">
    <ul [ngSwitch]="color">
      <li *ngSwitchCase="'black'">
        El color predominante es el <span [ngStyle]="{'color': color}">negro.</span>
      </li>
      <li *ngSwitchCase="'red'">
        El color predominante es el <span [ngStyle]="{'color': color}">rojo.</span>
      </li>
      <li *ngSwitchCase="'green'">
        El color predominante es el <span [ngStyle]="{'color': color}">verde.</span>
      </li>
      <li *ngSwitchCase="'orange'">
        El color predominante es el <span [ngStyle]="{'color': color}">naranja.</span>
      </li>
    </ul>
