<h1>Fecha</h1>
<p>{{fecha | date: 'fullDate'}}</p>
<p>{{fecha | date: 'dd/MM/yy'}}</p>

<h1>Calculadora</h1>
<p>{{5 | calculadora: 2}}</p>


<h1>Añadir usuario</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="formUser">
  <label for="name">Name</label><br>
  <input type="text" name="name" formControlName="name" required><br>
  <div [hidden]="name.valid || !name.touched">El nombre es obligatorio</div><br>
  <label for="job">Job</label><br>
  <input type="text" name="job" formControlName="job" required><br>
  <div [hidden]="job.valid || !job.touched">El puesto es obligatorio</div><br>

  <input type="submit" value="Guardar usuario" [disabled]="formUser.invalid">
</form>

<div *ngIf="userSaved">
  <h2>Usuario guardado con éxito</h2>
  <h3>Nombre: {{userSaved.name}}</h3>
  <h4>Puesto: {{userSaved.job}}</h4>
</div>

<h1>Lista de usuarios desde una API</h1>

<div *ngIf="users">
  <div *ngFor="let item of users">
    <img src="{{item.avatar}}" alt="" width="200">
    <h3>{{item.first_name + '' + item.last_name | uppercase}}</h3>
  </div>
</div>

<h1>Usuarios por id</h1>

<div *ngIf="!user">
  Cargando...
</div>

<input type="text" [(ngModel)]="userId" (keydown.enter)="loadUser()">
<div *ngIf="user">
    <img src="{{user.avatar}}" alt="" width="200">
    <h3>{{user.first_name + '' + user.last_name}}</h3>
</div>




