<h2>Contacto</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="formContact">
  <label for="nombre">Nombre</label><br>
  <input type="text" name="nombre" formControlName="nombre" required><br>
  <div [hidden]="nombre.valid || !nombre.touched">El nombre es obligatorio</div><br>
  <label for="apellidos">Apellidos</label><br>
  <input type="text" name="apellidos" formControlName="apellidos" required><br>
  <div [hidden]="apellidos.valid || !apellidos.touched">Los apellidos son obligatorios</div><br>
  <label for="email">Email</label><br>
  <input type="text" name="email" formControlName="email" required><br>
  <div [hidden]="email.valid || !email.touched">
    <span *ngIf="email.errors?.['required']">
      El email es obligatorio
    </span>
    <span *ngIf="email.errors?.['email']">
      Escriba un email válido
    </span>
  </div><br>
  <label for="mensaje">Mensaje</label><br>
  <textarea name="mensaje" formControlName="mensaje" required></textarea><br>
  <div [hidden]="mensaje.valid || !mensaje.touched">El mensaje es obligatorio</div><br>

  <input type="submit" value="Enviar" [disabled]="formContact.invalid">
</form>
